---
- include_tasks: influxdb_auth_remove.yml
  when: influxdb_config.http["https-enabled"] == 'true'

- name: Add influxdb users with all privileges
  command: >
    influx -execute
    "CREATE USER {{ item.username }} WITH PASSWORD '{{ item.password }}' WITH ALL PRIVILEGES"
  with_items: "{{ influxdb_credentials_admin }}"
  register: influxdb_command_result
  failed_when: "'user already exists' not in influxdb_command_result.stderr and influxdb_command_result.rc != 0"

- name: Add influxdb normal users
  command: >
    influx -execute
    "CREATE USER {{ item.username }} WITH PASSWORD '{{ item.password }}'"
  with_items: "{{ influxdb_credentials_user }}"
  register: influxdb_command_result
  failed_when: "'user already exists' not in influxdb_command_result.stderr and influxdb_command_result.rc != 0"

- name: Grant privileges to existing user
  command: >
    influx -execute
    "GRANT {{ item.1.split('.')[0] }} ON {{ item.1.split('.')[1] }} TO {{ item.0.username }}"
  with_subelements:
    - "{{ influxdb_credentials_user }}"
    - databases

- include_tasks: influxdb_auth_revert.yml
  when: influxdb_config.http["https-enabled"] == true