GRAFANA_USER={{ grafana_user }}

GRAFANA_GROUP={{ grafana_group }}

GRAFANA_HOME={{ grafana_dir_home }}

LOG_DIR={{ grafana_dir_log }}

DATA_DIR={{ grafana_dir_data }}

MAX_OPEN_FILES={{ grafana_max_open_files }}

CONF_DIR={{ grafana_dir_config }}

CONF_FILE={{ grafana_config_filepath }}

RESTART_ON_UPGRADE={{ grafana_restart_on_upgrade }}

PLUGINS_DIR={{ grafana_dir_plugins }}
